<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Post</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous" />
    </head>
    <body>
        <div class="container mt-5 mb-5">
            <div class="card p-5">
                <h3>Create Post</h3>
                <form action="/post/add" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title" />
                    </div>
                    <div class="mb-3">
                        <label for="body" class="form-label">Post body</label>
                        <textarea class="form-control" id="body" rows="3" name="body"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <h3 class="mt-5">Post</h3>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-1">
                <% posts.data.forEach((post) => { %>
                <div class="col">
                    <div class="card" style="width: 18rem">
                        <div class="card-body">
                            <h5 class="card-title"><%= post.title %></h5>
                            <p class="card-text"><%= post.body %></p>
                            <div class="d-flex align-items-center">
                                <a href="/post/<%= post.id %>" class="btn btn-warning btn-sm me-2 text-light">Edit Post</a>
                                <form action="/post/delete" method="POST">
                                    <input type="text" name="id" hidden value="<%= post.id %>" />
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    </body>
</html>
